/* src/index.css */
@import "tailwindcss";

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modalPop {
    0% {
        transform: scale(0.85) translateY(20px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.25s ease-out;
}

.animate-modalPop {
    animation: modalPop 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
